/* Estilos para el contenedor principal */
main {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si no hay espacio */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    gap: 20px; /* Espacio uniforme entre los elementos */
    margin: 20px;

    width: 85%;
    margin: auto;
}

/* Estilos para cada tarjeta de producto */
.product-card {
    width: 300px; /* Ancho fijo para garantizar una alineación consistente */
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    background-color: #fff; /* Fondo blanco para las tarjetas */
    border-radius: 5px; /* Esquinas ligeramente redondeadas para un diseño moderno */
}

/* Estilos para las imágenes de los productos */
.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    display: block;
    border-bottom: 1px solid #000;
}

/* Estilos para la información del producto */
.product-info {
    padding: 10px;
    text-align: center;
}

.product-info p {
    margin: 5px 0;
}

/* Estilos para el botón dentro de la tarjeta de producto */
.product-info button {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #212121;
    border-radius: 3px; /* Esquinas redondeadas para el botón */
}

.product-info button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #212121;
}

/* Estilos para la sección de información de compra */
.purchase-info {
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna para mejor responsividad */
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center; /* Centra el texto */
}

.purchase-info .left,
.purchase-info .right {
    margin-bottom: 10px; /* Espacio inferior para separación */
}
.left p a { color: #212121; }
.purchase-info button {
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.purchase-info button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #212121;
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
    .purchase-info {
        flex-direction: row; /* Cambia a fila en pantallas más grandes */
        justify-content: space-between; /* Espacio entre elementos */
        text-align: left; /* Alinea el texto a la izquierda */
    }

    .purchase-info .left,
    .purchase-info .right {
        margin-bottom: 0; /* Elimina el espacio inferior en pantallas grandes */
    }
}

@media (max-width: 767px) {
    .product-card {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }
}
